<include file="Admin/header"/>
<body>
<include file="Admin/sidebar"/>
<div id="main">
    <div id="main_page_content">
        <div id="main_title"><h2>添加用户</h2></div>
        <div id="main_body">
            <div id="addUser">
                <form action="__MODULE__/User/add" method="post" onsubmit="return checkUser()">
                    <div class="addUser_row">
                        <div class="addUser_leftRow">用户名</div>
                        <div class="addUser_rightRow"><input type="text" name="name"/></div>
                    </div>
                    <div class="addUser_row">
                        <div class="addUser_leftRow">密码</div>
                        <div class="addUser_rightRow"><input type="password" name="password"/></div>
                    </div>
                    <div class="addUser_row">
                        <div class="addUser_leftRow">重复密码</div>
                        <div class="addUser_rightRow"><input type="password" name="confirmPwd"/></div>
                    </div>
                    <div class="addUser_row">
                        <div class="addUser_leftRow">社团/组织</div>
                        <div class="addUser_rightRow"><input type="text" name="organization" placeholder="武汉大学研究生会"/></div>
                    </div>
                    <div class="addUser_row">
                        <div class="addUser_leftRow">职位等级</div>
                        <div class="addUser_rightRow">
                            <select name="level" class="user_level">
                                <volist name="level" id="var" empty="没有数据">
                                    <option value="{$var.value}" {$var.state}>{$var.name}</option>
                                </volist>
                            </select>
                        </div>
                    </div>
                    <div class="addUser_row">
                        <div class="addUser_leftRow"></div>
                        <div class="addUser_rightRow">
                            <button type="submit">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>