<!DOCTYPE html>
<html lang="en">
<head>
    <title>武汉大学研究生会</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="武汉大学研究生会">
    <meta name="description" content="武汉大学研究生会">
    <link rel="shortcut icon" href="favicon.ico"/>
    <link href="__PUBLIC__/static/css/style-admin.css" rel="stylesheet">
    <script type="text/javascript" src="__PUBLIC__/static/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/static/js/scripts.js"></script>
</head>