<include file="Admin/header"/>
<body>
<include file="Admin/sidebar"/>
<div id="main">
    <div id="main_page_content">
        <div id="main_title"><h2>常见问题</h2></div>
        <div id="main_body">
            <!-- usingInfo_row start -->
            <div class="usingInfo_row">
                <div class="usingInfo_row_title">
                    <a>Q：操作权限的设置是如何的？</a>
                </div>
                <div class="usingInfo_row_body">
                    <ul>
                        <li>权限：部委级、部长级、主席团级</li>
                        <li>用户能且仅能操作同级以下用户</li>
                        <li>用户能且仅能查看同级及以下用户</li>
                    </ul>
                </div>
            </div>
            <!-- usingInfo_row end -->
            <!-- usingInfo_row start -->
            <div class="usingInfo_row">
                <div class="usingInfo_row_title">
                    <a>Q：如何获得更好的界面和功能体验？</a>
                </div>
                <div class="usingInfo_row_body">
                    <ul>
                        <li>拒绝使用猎豹、百度、QQ、360、IE等渣渣浏览器！</li>
                        <li>请使用chrome、firefox浏览器以获得更好的体验！</li>
                    </ul>
                </div>
            </div>
            <!-- usingInfo_row end -->
            <!-- usingInfo_row start -->
            <div class="usingInfo_row">
                <div class="usingInfo_row_title">
                    <a>Q：为什么我有些界面进不去？</a>
                </div>
                <div class="usingInfo_row_body">
                    <ul>
                        <li>你的权限过低，无法访问</li>
                        <li>网站出了bug，请联系网站的维护人员</li>
                    </ul>
                </div>
            </div>
            <!-- usingInfo_row end -->
            <!-- usingInfo_row start -->
            <div class="usingInfo_row">
                <div class="usingInfo_row_title">
                    <a>Q：如何上传图片和文件？</a>
                </div>
                <div class="usingInfo_row_body">
                    <ul>
                        <li>在添加文章板块的富文本编辑器中有上传图片和文件的功能</li>
                    </ul>
                </div>
            </div>
            <div class="usingInfo_row">
                <div class="usingInfo_row_title">
                    <a>Q：为什么文章图片提交操作失败？</a>
                </div>
                <div class="usingInfo_row_body">
                    <ul>
                        <li>并未对内容进行修改就提交了（即重复提交）</li>
                        <li>你的网络连接出了问题</li>
                        <li>网站出了bug，请联系网站的维护人员</li>
                    </ul>
                </div>
            </div>
            <!-- usingInfo_row start -->
            <!--<div class="usingInfo_row">
                <div class="usingInfo_row_title">
                    <a>Q：我图片上传不了是什么问题？</a>
                </div>
                <div class="usingInfo_row_body list_no_padding_left">
                    <ul>
                        <li>1、你的网络连接出现了问题</li>
                        <li>2、本网站使用的是百度的UEditor，可能是该网站连接不良，请重新刷新界面重新上传</li>
                    </ul>
                </div>
            </div>-->
            <!-- usingInfo_row start -->
            <!-- usingInfo_row start -->
            <div class="usingInfo_row">
                <div class="usingInfo_row_title">
                    <a>Q：后台管理系统出现问题了，怎么办？</a>
                </div>
                <div class="usingInfo_row_body">
                    <ul>
                        <li>请迅速联系网站的维护人员！</li>
                    </ul>
                </div>
            </div>
            <!-- usingInfo_row end -->
        </div>
    </div>
</div>
</body>
</html>