<include file="Admin/header"/>
<div id="login_page">
    <div id="login_container">
        <div id="login_title">后台系统登录</div>
        <div id="login_content">
            <form action="__MODULE__/User/index" method="post">
                <div class="login_row"><input type="text" name="name" placeholder="用户名"/></div>
                <div class="login_row"><input type="password" name="password" placeholder="密码"/></div>
                <div class="login_row">
                    <button type="submit">登录</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>

