<div id="sidebar">
    <ul>
        <li class="sidebar_list_level1"><a href="#">使用</a></li>
        <ul>
            <li class="sidebar_list_level2"><a href="__MODULE__/User/info">使用须知</a></li>
        </ul>
        <li class="sidebar_list_level1"><a href="#">用户管理</a></li>
        <ul>
            <li class="sidebar_list_level2"><a href="__MODULE__/User/logout">退出登陆</a></li>
            <li class="sidebar_list_level2"><a href="__MODULE__/User/changePdPage">修改密码</a></li>
            <?php if(session('user.level')>1){ ?>
            <li class="sidebar_list_level2"><a href="__MODULE__/User/allUser/1">所有用户</a></li>
            <li class="sidebar_list_level2"><a href="__MODULE__/User/addUser">添加用户</a></li>
            <?php } ?>
        </ul>
        <li class="sidebar_list_level1"><a href="#">文章管理</a></li>
        <ul>
            <li class="sidebar_list_level2"><a href="__MODULE__/Article/addArticle">添加文章</a></li>
            <?php if(session('user.level')>1){ ?>
            <li class="sidebar_list_level2"><a href="__MODULE__/Article/allArticles/1">管理文章</a></li>
            <?php } ?>
        </ul>
        <?php if(session('user.level')>1){ ?>
        <li class="sidebar_list_level1"><a href="#">板块管理</a></li>
        <ul>
            <li class="sidebar_list_level2"><a href="__MODULE__/Banner/index">banner管理</a></li>
            <li class="sidebar_list_level2"><a href="__MODULE__/Page/index">页面管理</a></li>
        </ul>
        <li class="sidebar_list_level1"><a href="#">访问统计</a></li>
        <ul>
            <li class="sidebar_list_level2"><a href="#">本地统计数据</a></li>
            <li class="sidebar_list_level2"><a href="#">CNZZ统计数据</a></li>
        </ul>
        <?php } ?>

    </ul>
</div>