<div id="header">
    <div id="slider" class="banner">
        <div class="wrap">
            <div class="pan">
                <volist name="banner" id="var" empty="暂时没有Banner图片">
                    <a href="{$var.href}" style="display:none;"><img src="{$var.src}" width="1000" height="320" alt="{$var.title}"></a>
                </volist>
            </div>
            <a class="arr_l rf png"></a>
            <a class="arr_r rf png"></a>
            <!--缩略图,这里取消显示，需要可以向li标签里面添加img，并且display属性改为block-->
            <ul class="tab lifl">
                <li class="current"></li>
                <volist name="banner" id="var" offset="1" empty="">
                    <li class=""></li>
                </volist>
            </ul>
        </div>
    </div>
    <!--menu 栏开始-->
    <div id="menu_bar">
        <ul>
            <li>
                <a class="menu_content" href="__ROOT__/Admin/Page/preview/16">研会介绍</a>
                <div class="down_icon"></div>
            </li>
            <li>
                <a class="menu_content" href="__ROOT__/Home/category/activity/1">研会活动</a>
                <div class="down_icon"></div>
            </li>
            <li>
                <a class="menu_content" href="__ROOT__/Home/category/rihgts/1">生活服务</a>
                <div class="down_icon"></div>
            </li>
            <li>
                <a class="menu_content" href="__ROOT__/Home/category/inform/1">通知公告</a>
                <div class="down_icon"></div>
            </li>
            <li>
                <a class="menu_content" href="__ROOT__/Home/category/download/1">资源共享</a>
                <div class="down_icon"></div>
            </li>
        </ul>
    </div>
    <!--menu 栏结束-->
</div>