<div id="footer">
    <div id="footer_content">
        <div id="footer_item_title">
            <div id="footer_item_text">微平台</div>
            <div id="footer_item_icon"><img src="__PUBLIC__/static/img/icon_down.png" /><img src="__PUBLIC__/static/img/icon_up.png" /></div>
        </div>
        <div id="footer_item">
            <!--copyright info -->
            <div id="footer_item_copyright">
                <p>地址：湖北武汉珞珈山枫园三舍&nbsp;&nbsp;邮编：430072</p>
                <p>联系电话：027-68752583&nbsp;&nbsp;电子邮箱：whugu@126.com</p>
                <p>Copyright&copy;2015 All Right Reserved 武汉大学研究生会 版权所有 | 备案号码</p>
            </div>
            <!--微平台 info-->
            <div id="footer_item_microPlatform">
                <div id="footer_item_microPlatform_content">
                    <div class="footer_item_microPlatform_item">
                        <div class="footer_item_microPlatform_item_img">
                            <img src="__PUBLIC__/static/img/microPlatform1.png" />
                        </div>
                        <div class="footer_item_microPlatform_item_text">青媒手机客户端</div>
                    </div>
                    <div class="footer_item_microPlatform_item">
                        <div class="footer_item_microPlatform_item_img">
                            <img src="__PUBLIC__/static/img/microPlatform2.png" />
                        </div>
                        <div class="footer_item_microPlatform_item_text">武大小青媒</div>
                    </div>
                    <div class="footer_item_microPlatform_item">
                        <div class="footer_item_microPlatform_item_img">
                            <img src="__PUBLIC__/static/img/microPlatform3.png" />
                        </div>
                        <div class="footer_item_microPlatform_item_text">武大团委微博</div>
                    </div>
                    <div class="footer_item_microPlatform_item">
                        <div class="footer_item_microPlatform_item_img">
                            <img src="__PUBLIC__/static/img/microPlatform4.png" />
                        </div>
                        <div class="footer_item_microPlatform_item_text">武大团委微信</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>