<!DOCTYPE html>
<html lang="en">
<head>
    <title>武汉大学研究生会</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="武汉大学研究生会">
    <meta name="description" content="武汉大学研究生会">
    <link rel="shortcut icon" href="favicon.ico"/>
    <link rel="shortcut icon" href="">
    <link href="../../../../Public/static/css/style-admin.css" rel="stylesheet">
    <script type="text/javascript" src="../../../../Public/static/js/jquery-1.11.1.min.js"></script>
</head>
<body>
  <div id="sidebar">
    <ul>
    <li class="sidebar_list_level1"><a href="#">使用</a></li>
    <ul>
      <li class="sidebar_list_level2"><a href="admin-usingInfo.html">使用须知</a></li>
    </ul>
    <li class="sidebar_list_level1"><a href="#">用户管理</a></li>
    <ul>
      <li class="sidebar_list_level2"><a href="">退出登陆</a></li>
      <li class="sidebar_list_level2"><a href="">修改密码</a></li>
      <li class="sidebar_list_level2"><a href="admin-manageUser.html">所有用户</a></li>
      <li class="sidebar_list_level2"><a href="admin-addUser.html">添加用户</a></li>
    </ul>
    <li class="sidebar_list_level1"><a href="#">文章管理</a></li>
    <ul>
      <li class="sidebar_list_level2"><a href="admin-addArticle.html">添加文章</a></li>
      <li class="sidebar_list_level2"><a href="admin-manageArticle.html">管理文章</a></li>
    </ul>
    
    <li class="sidebar_list_level1"><a href="#">板块管理</a></li>
        <ul>
          <li class="sidebar_list_level2"><a href="admin-addblock.html">添加板块</a></li>
          <li class="sidebar_list_level2"><a href="admin-manageBlock.html">管理板块</a></li>
        </ul>
    <li class="sidebar_list_level1"><a href="#">访问统计</a></li>
        <ul>
          <li class="sidebar_list_level2"><a href="">本地统计数据</a></li>
          <li class="sidebar_list_level2"><a href="">CNZZ统计数据</a></li>
        </ul>
    </ul>
  </div>
  <div id="main">
    <div id="main_page_content"> 
      <div id="main_title"><h2>添加文章</h2></div>
      <div id="main_body">
        <div id="addArticle">
        <form action="" method="post">
          <div class="addArticle_row"><input type="text" placeholder="这里输入标题" autofocus></div>
          <div class="addArticle_row"><input type="text" placeholder="这里输入作者"></div>
          <div class="addArticle_row"><input type="text" placeholder="这里输入编辑"><br></div>
          <script id="editor" type="text/plain"></script>
          <div id="type-choose">
              <button type="submit">公告</button>
              <button type="submit">新闻</button>
              <button type="submit">院系</button>
              <button type="submit">信息服务</button>
          </div>
          <div id="child-type-choose">
              <button type="submit">通知</button>
              <button type="submit">讲座</button>
              <button type="submit">活动</button>
              <button type="submit">社会实践</button>
              <button type="submit">志愿服务</button>
              <button type="submit">创业孵化</button>
              <button type="submit">就业见习</button>
              <button type="submit">学习促进</button>
              <button type="submit">职业规划</button>
              <button type="submit">爱心仓储</button>
              <button type="submit">二手交易</button>
          </div>
          <div class="addArticle_row"><button type="submit">确认提交</button></div>
        </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>