<!DOCTYPE html>
<html lang="en">
<head>
    <title>武汉大学研究生会</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="武汉大学研究生会">
    <meta name="description" content="武汉大学研究生会">
    <link rel="shortcut icon" href="favicon.ico"/>
    <link href="../../../../Public/static/css/style-admin.css" rel="stylesheet">
    <script type="text/javascript" src="../../../../Public/static/js/jquery-1.11.1.min.js"></script>
</head>
<body>
  <div id="sidebar">
    <ul>
    <li class="sidebar_list_level1"><a href="#">使用</a></li>
    <ul>
      <li class="sidebar_list_level2"><a href="admin-usingInfo.html">使用须知</a></li>
    </ul>
    <li class="sidebar_list_level1"><a href="#">用户管理</a></li>
    <ul>
      <li class="sidebar_list_level2"><a href="">退出登陆</a></li>
      <li class="sidebar_list_level2"><a href="">修改密码</a></li>
      <li class="sidebar_list_level2"><a href="admin-manageUser.html">所有用户</a></li>
      <li class="sidebar_list_level2"><a href="admin-addUser.html">添加用户</a></li>
    </ul>
    <li class="sidebar_list_level1"><a href="#">文章管理</a></li>
    <ul>
      <li class="sidebar_list_level2"><a href="admin-addArticle.html">添加文章</a></li>
      <li class="sidebar_list_level2"><a href="admin-manageArticle.html">管理文章</a></li>
    </ul>
    
    <li class="sidebar_list_level1"><a href="#">板块管理</a></li>
        <ul>
          <li class="sidebar_list_level2"><a href="admin-addblock.html">添加板块</a></li>
          <li class="sidebar_list_level2"><a href="admin-manageBlock.html">管理板块</a></li>
        </ul>
    <li class="sidebar_list_level1"><a href="#">访问统计</a></li>
        <ul>
          <li class="sidebar_list_level2"><a href="">本地统计数据</a></li>
          <li class="sidebar_list_level2"><a href="">CNZZ统计数据</a></li>
        </ul>
    </ul>
  </div>
  <div id="main">
    <div id="main_page_content"> 
      <div id="main_title"><h2>常见问题</h2></div>
      <div id="main_body">
        <!-- usingInfo_row start -->
        <div class="usingInfo_row">
          <div class="usingInfo_row_title">
            <a>Q：腾讯2015年校园招聘大概在什么时候开始？</a>
          </div>
          <div class="usingInfo_row_body">
            <ul>
              <li>腾讯2015年校园招聘大概在什么时候开始？</li>
              <li>腾讯2015年校园招聘大概在什么时候开始？</li>
              <li>腾讯2015年校园招聘大概在什么时候开始？</li>
              <li>腾讯2015年校园招聘大概在什么时候开始？</li>
              <li>腾讯2015年校园招聘大概在什么时候开始？</li>
              <li>腾讯2015年校园招聘大概在什么时候开始？</li>
            </ul>
          </div>
        </div>
        <!-- usingInfo_row start -->
        <!-- usingInfo_row start -->
        <div class="usingInfo_row">
          <div class="usingInfo_row_title">
            <a>Q：腾讯2015年校园招聘大概在什么时候开始？</a>
          </div>
          <div class="usingInfo_row_body list_no_padding_left">
            <ul>
              <li>1、腾讯2015年校园招聘大概在什么时候开始？</li>
              <li>2、腾讯2015年校园招聘大概在什么时候开始？</li>
              <li>3、腾讯2015年校园招聘大概在什么时候开始？</li>
              <li>4、腾讯2015年校园招聘大概在什么时候开始？</li>
              <li>5、腾讯2015年校园招聘大概在什么时候开始？</li>
              <li>6、腾讯2015年校园招聘大概在什么时候开始？</li>
            </ul>
          </div>
        </div>
        <!-- usingInfo_row start -->
        <!-- usingInfo_row start -->
        <div class="usingInfo_row">
          <div class="usingInfo_row_title">
            <a>Q：腾讯2015年校园招聘大概在什么时候开始？</a>
          </div>
          <div class="usingInfo_row_body"><a>校园宣讲和相关的笔试、面试流程会在9月9日至10月24日陆续进行。同时，join.qq.com的校园招聘页面于8月26日全面启用，同学们可以登录并注册简历，了解具体行程安排、招聘岗位和应聘流程，并申请自己感兴趣的岗位。</a>
          </div>
        </div>
        <!-- usingInfo_row start -->
      </div>
    </div>
  </div>
</body>
</html>